@import "vars";

.content {
    h1, h2, h3  {
        margin: 20px 0px 20px 0px;
    }
    h4, h5, h6  {
        margin: 10px 0px 10px 0px;
    }

    p   {
        margin: 5px 0px 5px 0px;
    }
    blockquote {
        border: 1px solid black;
        border-left: 3px solid #333333;
        margin: 5px 0 5px 0;
        padding: 5px 10px 5px 10px;
        font-style: normal;
    }

    ol {
        counter-reset: list;
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin: 5px 10px 5px 10px;
        left: -15px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
    }

    ul {
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }
    ul > li {
        margin: 5px 5px 5px 5px;
    }
    
    img {
        display: block;
        margin: auto;
    }
}
